@charset "UTF-8";

/* ----------------------------------------------------------
  Buttons
---------------------------------------------------------- */

.project_id-button,
%project_id-button {
    & {
        @extend %cssc-button;
        padding: 0 1em;
        max-width: 100%;
        overflow: hidden;
        text-transform: uppercase;
        font-size: $font-size;
        font-weight: bold;
        line-height: 2.5;
        letter-spacing: 0.1em;
        color: #fff;
        background-color: $color-hl;
        transition: all 0.3s ease;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }

    @include resp($mobile_only) {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        line-height: 1.5;
        white-space: normal;
    }

    &:focus,
    &:hover {
        color: #fff;
        background-color: $color-main;
        box-shadow: inset 0 0 0 1px $color-main;
    }

    i[class*="icon_"] {
        z-index: 1;
        position: relative;
        width: 1.5em;
        height: 1em;
        vertical-align: middle;
    }

    i[class*="icon_"]:before {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -0.5em;
        margin-left: -0.1em;
        font-size: 1.5em;
    }
}

/* Theme
-------------------------- */

.project_id-button--secondary,
%project_id-button--secondary {
    & {
        color: $color-main;
        background-color: transparent;
        box-shadow: inset 0 0 0 1px currentColor;
    }
}

/* Size
-------------------------- */

.project_id-button--small,
%project_id-button--small {
    & {
        font-size: 10px;
    }
}
