@charset "UTF-8";

/* ----------------------------------------------------------
  Basic
---------------------------------------------------------- */

dl,
p,
ul {
    & {
        font-size: $font-size;
        line-height: $line-height;
    }

    @include resp($mobile_only) {
        font-size: $font-size-mobile;
    }

    &:not(:last-child) {
        margin-bottom: $line-height-em;
    }
}

dd,
dt,
li {
    font: inherit;
}

/* ----------------------------------------------------------
  CMS Content
---------------------------------------------------------- */

.cssc-content {
    & {
        max-width: 100%;
        font-size: $font-size;
        line-height: $line-height;
    }

    @include resp($mobile_only) {
        font-size: $font-size-mobile;
    }

    h2 {
        @extend %project--h2;
    }

    h3 {
        @extend %project--h3;
    }

    h4 {
        @extend %project--h4;
    }

    a {
        text-decoration: underline;
    }

    ol {
        counter-reset: cssc-content-section;
        list-style-type: none;
    }

    ol li {
        z-index: 0;
        position: relative;
        padding-left: 1em;
    }

    ol li:before {
        content: counter(cssc-content-section);
        counter-increment: cssc-content-section;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }

    .cssc-content-video-wrapper {
        z-index: 0;
        position: relative;
        padding-top: 56.25%;
    }

    .cssc-content-video-wrapper > iframe {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .cssc-content-video-wrapper:not(:last-child) {
        margin-bottom: $line-height-em;
    }
}
