@charset "UTF-8";

/* ----------------------------------------------------------
  Basic
---------------------------------------------------------- */

dl,
p,
ul {
    & {
        font-size: $font-size;
        line-height: $line-height;
    }

    @include resp($mobile_only) {
        font-size: $font-size-mobile;
    }

    &:not(:last-child) {
        margin-bottom: $line-height-em;
    }
}

dd,
dt,
li {
    font: inherit;
}

%cssc-content-text-elements {
    hyphens: auto;
    hyphenate-limit-chars: 10;
}

/* ----------------------------------------------------------
  Custom text size
---------------------------------------------------------- */

.text--big.text--big {
    & {
        font-size: $font-size*1.2;
    }

    @include resp($mobile_only) {
        font-size: $font-size-mobile*1.2;
    }
}

.text--small.text--small {
    & {
        font-size: $font-size*0.8;
    }

    @include resp($mobile_only) {
        font-size: $font-size-mobile*0.8;
    }
}

/* ----------------------------------------------------------
  CMS Content
---------------------------------------------------------- */

.cssc-content {
    & {
        max-width: 100%;
        font-size: $font-size;
        line-height: $line-height;
    }

    @include resp($mobile_only) {
        font-size: $font-size-mobile;
    }

    &:last-child {
        margin-bottom: 0;
    }

    h2 {
        @extend %project--h2;
    }

    h3 {
        @extend %project--h3;
    }

    h4 {
        @extend %project--h4;
    }

    a {
        text-decoration: underline;
    }

    /* Lists */

    ol {
        counter-reset: cssc-content-section;
        list-style-type: none;
    }

    ul ul,
    ul {
        list-style-type: none;
    }

    ul li,
    ol li {
        z-index: 0;
        position: relative;
        padding-left: 1em;
    }

    ul li:before,
    ol li:before {
        counter-increment: cssc-content-section;
        z-index: 1;
        position: absolute;
        top: 0.15em;
        left: 0;
        font-size: 0.8em;
        color: $color-hl;
    }

    ul li:before {
        content: '●';
    }

    ol li:before {
    content /* Video */

    .cssc-content-video-wrapper {
        @extend %cssc-cover-embed-wrapper;
    }

    .cssc-content-video-wrapper:not(:last-child) {
        margin-bottom: $line-height-em;
    }

    /* Table */

    table {
        border: 1px solid $color-hl;
    }

    th,
    td {
        padding: 0.5em;
        border-bottom: 1px solid $color-hl;
        color: $color-main;
        background-color: $color-bg-page;
    }

    th {
        font-weight: bold;
    }

    thead th {
        color: #fff;
        background-color: $color-hl;
    }
}
