@charset "UTF-8";

/* ----------------------------------------------------------
  Forms
---------------------------------------------------------- */

/* Form items */

%project--fieldgroup:not(:last-child) {
    margin-bottom: $fieldset-margin;
}

%project--legend {
    margin-bottom: 1.1em;
    text-transform: uppercase;
    font-size: 1.1em;
}

%project--label {
    text-transform: uppercase;
}

%project--field,
%project--select {
    @extend .inputreset;
}

%project--field {
    & {
        padding: 0.5em 1em;
        min-height: 2.5em;
        border: 1px solid $color-border;
        line-height: 1.5em;
        transition: border 0.3s ease,color 0.3s ease;
    }

    @include resp($mobile_only) {
        font-size: 16px;
    }
}

%project--select {
    @extend .cssc-select;
    padding-right: 2em!important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAFCAQAAADvCgS4AAAAGklEQVR4AWNg+I8BcQGCyhAAXRlhpcQAQsoAMGIY6KADYAUAAAAASUVORK5CYII=);
    background-position: right 0 center;
    background-repeat: no-repeat;
}

/* Placeholder */

@mixin project-placeholder() {
    color: inherit;
    opacity: 0.5;
}

%project--field {
    &::-webkit-input-placeholder {
        @include project-placeholder;
    }

    &:-moz-placeholder {
        @include project-placeholder;
    }

    &::-moz-placeholder {
        @include project-placeholder;
    }

    &:-ms-input-placeholder {
        @include project-placeholder;
    }

    &::placeholder {
        @include project-placeholder;
    }
}

/* Radio - Checkboxes */

%fake-check-ghost,
%fake-radio-ghost {
    & ~ .label-main,
    & + label {
        display: inline-block;
        margin-right: 1em;
        padding-left: 1.5em;
        user-select: none;
    }

    & ~ .label-main,
    & + label {
        cursor: pointer;
    }

    & ~ .label-main:before,
    & + label:before {
        top: 50%;
        border: 1px solid $color-hl!important;
        background-color: #fff;
        box-shadow: 0 0 0 1px transparent!important;
        transform: translateY(-50%);
    }

    &:checked ~ .label-main:before,
    &:checked + label:before {
        border-color: $color-hl!important;
        color: $color-hl;
    }
}

input[type="checkbox"] {
    & {
        @extend %fake-check-ghost;
    }

    &:checked ~ .label-main:before,
    &:checked + label:before {
        color: #FFF;
        background-color: $color-hl!important;
    }
}

input[type="radio"] {
    & {
        @extend %fake-radio-ghost;
    }

    & ~ .label-main:before,
    & + label:before {
        content: '';
        border-radius: 10em;
    }

    &:checked ~ .label-main:before,
    &:checked + label:before {
        color: #FFF;
        box-shadow: 0 0 0 1px transparent,inset 0 0 0 2px #FFF,inset 0 0 0 20px $color-hl!important;
    }
}
