/* ----------------------------------------------------------
  Icons
---------------------------------------------------------- */

.icon,
.icon:before {
    display: inline-block;
    height: 1em;
    text-align: center;
    line-height: 1;
}

.icon:before {
    width: 1em;
}

/* Fix youtube width
-------------------------- */

.icon_youtube:before {
    width: 1.4em;
}

/* Fix discord width
-------------------------- */

.icon_discord:before {
    width: 1.4em;
}
