/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

.centered-container > * {
    max-width: $content_width_wide;
}

.centered-container--thin > * {
    max-width: $content_width;
}

.centered-container--full > * {
    max-width: $content_width_full;
}

/* ----------------------------------------------------------
  Section
---------------------------------------------------------- */

/* Classic
-------------------------- */

.section {
    & {
        padding-top: $desktop-padding;
        padding-bottom: $desktop-padding;
    }

    @include resp($desktop_excluded) {
        padding-top: $tablet-padding;
        padding-bottom: $tablet-padding;
    }

    @include resp($mobile_only) {
        padding-top: $mobile-padding;
        padding-bottom: $mobile-padding;
    }
}

/* Margin
-------------------------- */

.section-m {
    & {
        margin-top: $desktop-padding;
        margin-bottom: $desktop-padding;
    }

    @include resp($desktop_excluded) {
        margin-top: $tablet-padding;
        margin-bottom: $tablet-padding;
    }

    @include resp($mobile_only) {
        margin-top: $mobile-padding;
        margin-bottom: $mobile-padding;
    }
}

/* Themes
-------------------------- */

.section--dark {
    color: #fff;
    background-color: $color-main;
}

.section--gray {
    background-color: #F9F9F9;
}
