/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

.centered-container > * {
    max-width: $content_width_wide;
}

.centered-container--thin > * {
    max-width: $content_width;
}

.centered-container--full > * {
    max-width: $content_width_full;
}

/* ----------------------------------------------------------
  Section
---------------------------------------------------------- */

/* Classic
-------------------------- */

.section {
    & {
        padding-top: $desktop-padding;
        padding-bottom: $desktop-padding;
    }

    @include resp($desktop_excluded) {
        padding-top: $tablet-padding;
        padding-bottom: $tablet-padding;
    }

    @include resp($mobile_only) {
        padding-top: $mobile-padding;
        padding-bottom: $mobile-padding;
    }
}

/* Margin
-------------------------- */

.section-m {
    & {
        margin-top: $desktop-padding;
        margin-bottom: $desktop-padding;
    }

    @include resp($desktop_excluded) {
        margin-top: $tablet-padding;
        margin-bottom: $tablet-padding;
    }

    @include resp($mobile_only) {
        margin-top: $mobile-padding;
        margin-bottom: $mobile-padding;
    }
}

/* Themes
-------------------------- */

.section--dark {
    color: #fff;
    background-color: $color-main;
}

.section--gray {
    background-color: rgba($color-bg,0.5);
}

.section--hl {
    background-color: $color-hl;
}

/* ----------------------------------------------------------
  Project grid
---------------------------------------------------------- */

.simple-grid {
    @extend %responsive-padding-lr-inv-half;
    @extend %responsive-margin-bottom;
    display: flex;
    flex-direction: row;
}

.simple-grid > * {
    @extend %responsive-padding-lr-half;
    flex: 1;
}

@media ($desktop_excluded) {
    .simple-grid > *,
    .simple-grid {
        display: block;
    }

    .simple-grid > * + * {
        margin-top: $tablet-padding;
    }
}

@media ($mobile_only) {
    .simple-grid > * + * {
        margin-top: $mobile-padding;
    }
}
