@charset "UTF-8";

/* ----------------------------------------------------------
  Lists
---------------------------------------------------------- */

/* List
-------------------------- */

.loops-list {
    @extend %cssc-list-items;
}

.loops-list.loops-list > * {
    width: 33.3%;
}

@media ($desktop_excluded) {
    .loops-list.loops-list > * {
        width: 50%;
    }
}

@media ($mobile_only) {
    .loops-list.loops-list > * {
        display: block;
        width: 100%;
    }
}

/* Slider
-------------------------- */

.centered-container--slider-wrapper {
    overflow: hidden;
}

.list--slider:not(.slick-slider) {
    & {
        @extend %responsive-padding-lr-inv-half;
        z-index: 1;
        position: relative;
        white-space: nowrap;
    }

    & > * {
        @extend %responsive-padding-lr-half;
        display: inline-block;
        box-sizing: border-box;
        width: 33.3%;
        white-space: normal;
        vertical-align: top;
    }
}

.list--slider.slick-slider {
    .slick-list {
        @extend %responsive-padding-lr-inv-half;
        overflow: visible;
    }

    .slick-track > * {
        @extend %responsive-padding-lr-half;
        transition: opacity 0.3s ease;
    }

    .slick-track > *[aria-hidden="true"] {
        opacity: 0.25;
    }
}

@media ($mobile_only) {
    .list--slider.slick-slider .slick-track > * {
        width: 400px;
        max-width: 70vw;
    }
}

/* ----------------------------------------------------------
  Loops
---------------------------------------------------------- */

.loop-basic {
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.loop-image-wrapper {
    & {
        z-index: 1;
        position: relative;
    }

    .loop__labels {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 1em;
    }

    .item-label {
        display: inline-block;
        margin-right: 0.3em;
        padding: 0 0.7em;
        font-size: 0.8em;
        line-height: 2;
        background-color: #fff;
    }
}

.loop-basic__image {
    & {
        @extend %cssc-cover-image-wrapper-component;
        margin-bottom: 1em;
        padding-top: 75%;
        overflow: hidden;
    }

    img {
        transition: transform 1s ease;
        transform-origin: center center;
    }

    .loop-basic:hover & img {
        transform: scale(1.1);
    }
}

.loop-basic__metas {
    margin-bottom: 0.75em;
}

.loop__link:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: -400%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    margin: auto;
    background-color: rgba($color-main,0);
}
