extends layouts/layout.pug
block content
  div.centered-container.az
    div.cc-main
      h1 MySite
      h2 Icons
      <div class="styleguide-icons">
      include includes/icons.html
      </div>
      include parts/forms.html
      include parts/text.html
