extends layouts/layout.pug
block content
  div.centered-container
    div.cc-main
      h1 MySite
      div.section
        h2 Icons
        div.styleguide-icons
          include includes/icons.html
      include parts/forms.html
      include parts/breadcrumbs.html
      include parts/text.html
