extends layouts/layout.pug
block content
  include parts/header.pug
  include parts/icons.pug
  include parts/colors.pug
  include parts/grid.pug
  include parts/forms.html
  include parts/breadcrumbs.html
  include parts/text.html
  include parts/loops.pug
