extends layouts/layout.pug
block content
  div.centered-container
    div.cc-main.section
      h1.main-logo MySite
        <a href="/"><img src="assets/images/logo.svg" alt="MySite"></a>
      div.section
        h3 Icons
        div.styleguide-icons
          include includes/icons.html
      include parts/colors.pug
      include parts/forms.html
      include parts/breadcrumbs.html
      include parts/text.html
