extends layouts/layout.pug
block content
  include parts/header.pug
  include ../gulp/intestarter_gulpfile/utilities/pug/icons.pug
  include ../gulp/intestarter_gulpfile/utilities/pug/colors.pug
  include ../gulp/intestarter_gulpfile/utilities/pug/grid.pug
  include parts/forms.html
  include  ../gulp/intestarter_gulpfile/utilities/pug/breadcrumbs.html
  include  ../gulp/intestarter_gulpfile/utilities/pug/text.html
  include parts/loops.pug
