doctype html
html
  title My Site
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  include includes/head-css.pug
  body
    div.centered-container
      div.cc-main
        h1 My Site
        h2 Icons
        include includes/icons.pug
        include parts/forms.pug
        include parts/text.pug
