@charset "UTF-8";

/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

/* ----------------------------------------------------------
  Navigation
---------------------------------------------------------- */

.account-nav .nav.items {
}

/* ----------------------------------------------------------
  Common
---------------------------------------------------------- */

/* Sales table
-------------------------- */

%sales-table a {
    border-bottom: 1px solid;
}

@media($mobile_excluded) {
    %sales-table th,
    %sales-table td {
        padding: 1em;
    }

    %sales-table th {
        padding: 1em;
        text-transform: uppercase;
        font-weight: bold;
    }

    %sales-table tr:nth-child(odd) td {
        background-color: #F8F7F5;
    }
}

/* ----------------------------------------------------------
  Dashboard
---------------------------------------------------------- */

/* ----------------------------------------------------------
  Forms
---------------------------------------------------------- */

/* Newsletter
-------------------------- */

/* Customer
-------------------------- */

/* ----------------------------------------------------------
  Addresses
---------------------------------------------------------- */

/* List addresse
-------------------------- */

/* Form edit / create
-------------------------- */

/* ----------------------------------------------------------
  Sales
---------------------------------------------------------- */

/* List orders
-------------------------- */

/* View order
-------------------------- */

/* ----------------------------------------------------------
  RMA
---------------------------------------------------------- */

/* List all RMAs
-------------------------- */

/* Create an RMA
-------------------------- */

/* View an RMA
-------------------------- */
