/* Selectors
-------------------------- */

.form-list .field,
.form-list .control,
.form-list .wide,
.form-list > li,
.form-list > .fields,
.form-list .fields .field {
    @extend %project--fieldgroup;
}

.box-info .box-title h3,
.fieldset .legend {
    @extend %project--legend;
}

.form-list {
    label {
        @extend %project--label;
    }

    & > li:not(.control) > label,
    .field > label,
    .wide > label {
        display: block;
        margin-bottom: 0.9em;
    }
}

.form-list .input-box {
    select,
    textarea,
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        @extend %project--field;
    }

    select {
        @extend %project--select;
    }
}

/* Checkboxes */

.form-list {
    li.control {
        z-index: 1;
        position: relative;
    }

    [id="primary_billing"],
    [id="primary_shipping"],
    [id="shipping:save_in_address_book"],
    [id="billing:save_in_address_book"],
    [id="shipping:same_as_billing"],
    #is_subscribed,
    #subscription,
    #change_password {
        @extend %fake-check-ghost;
    }
}

/* Radio */

.sp-methods input[type="radio"],
#checkoutSteps input[name="shipping_method"],
#checkoutSteps .control input[name="checkout_method"],
#co-billing-form .control input[type="radio"] {
    @extend %fake-radio-ghost;
}

.field.name-prefix .input-box input[type="radio"] {
    & {
        @extend %fake-radio-ghost;
    }

    & + label {
        display: inline-block;
        vertical-align: top;
    }

    & + label ~ label {
        margin-left: 2em;
    }
}
