div.section-m
    h3 Grid
    <style>.grid-placeholder-item{background-color:rgba(0,0,0,0.1);padding:2em;}</style>
    h4 Simple Grid
    .simple-grid
        div
            div.grid-placeholder-item
        div
            div.grid-placeholder-item
    .simple-grid
        div
            div.grid-placeholder-item
        div
            div.grid-placeholder-item
        div
            div.grid-placeholder-item
    h4 Fluid Grid
    .cssc-grid.fluid-grid
        .col-50p.tabv--col-100p
            div.grid-placeholder-item
        .col-50p.tabv--col-100p
            div.grid-placeholder-item
    .cssc-grid.fluid-grid
        .col-33p.tabv--col-100p
            div.grid-placeholder-item
        .col-33p.tabv--col-100p
            div.grid-placeholder-item
        .col-33p.tabv--col-100p
            div.grid-placeholder-item

