div.section
  h3 Icons
  div.styleguide-icons
    each f in locals.icons
      p.
        <i class="icon icon_#{f}"></i> - <strong>#{f}</strong><br />
        <span contenteditable>&lt;i class="icon icon_#{f}"&gt;&lt;/i&gt;</span>
