<section class="centered-container cc-loops section-m">
    <div class="loops">
        <h2 class="loops__title">Loops</h2>
        <div class="loops__content">
        <ul class="loops-list">
            each _ in Array(3)
                <li>
                    <div class="loop loop-basic">
                        <div class="loop-image-wrapper">
                            <div class="loop__labels">
                                <div class="item-label">Label</div>
                            </div>
                            <div class="loop-basic__image"><img src="https://picsum.photos/640/480" alt="" loading="lazy" /></div>
                        </div>
                        <div class="loop-basic__content">
                            <a href="#" class="loop__link">
                                <h3 class="loop-basic__name">Design is a funny word. Some people think design means how it looks. But of course, if you dig deeper, it's really how it works.</h3>
                            </a>
                            <div class="loop-basic__description"><p>The world needs dreamers and the world needs doers. But above all, the world needs dreamers who do — Sarah Ban Breathnach.</p></div>
                        </div>
                    </div>
                </li>
        </ul>
        </div>
    </div>
</section>
