@charset "UTF-8";

body {
    font: 13px/1.2 $font-main;
    color: $color-main;
}

/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

.centered-container > * {
    max-width: $content_width_wide;
}

