@charset "UTF-8";

body {
    font: $font-size $font-main;
    line-height: $line-height;
    color: $color-main;
}

/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

.centered-container {
    padding: 0 $desktop-padding;
}

.centered-container > * {
    max-width: $content_width_wide;
}

@media($mobile_only) {
    .centered-container {
        padding: 0 $mobile-padding;
    }
}
