
/* ----------------------------------------------------------
  Icons
---------------------------------------------------------- */

.icon,
.icon:before {
    display: inline-block;
    text-align: center;
}

.icon_twitter:before {
    width: 1.3em;
}

.icon_facebook:before {
    width: 0.4em;
}
