
/* ----------------------------------------------------------
  Icons
---------------------------------------------------------- */

.icon,
.icon:before {
    display: inline-block;
    height: 1em;
    text-align: center;
    line-height: 1;
}
