@charset "UTF-8";

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

//$vars

/* Fonts
-------------------------- */

$font-main: Helvetica, Arial, sans-serif;

/* Basic colors
-------------------------- */

$color-main: #333333;
$color-fb: #3B5998;
$color-twitter: #00ACED;
$color-gplus: #DD4B39;

/* Breakpoints
-------------------------- */

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-min: 1024px;

$mobile_only: "max-width:"+$mobile-max;
$desktop_only: "min-width:"+$desktop-min;
$desktop_excluded: "max-width:"+$tablet-max;

// imgsprite /* Sprites
// imgsprite -------------------------- */
// imgsprite
// imgsprite $sprites: sprite-map("css-sprite/*.png", $spacing: 10px);       /* :) */
// imgsprite $sprites2x: sprite-map("css-sprite-2x/*.png", $spacing: 10px);  /* :) */
// imgsprite
/* ----------------------------------------------------------
  Utilities
---------------------------------------------------------- */

// imgsprite @import "utilities/_retina-sprites.scss";
@import "utilities/_plugins.scss";

/* ----------------------------------------------------------
  CSSCommon
---------------------------------------------------------- */
