@charset "UTF-8";

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

//$vars

/* Fonts
-------------------------- */

$font-main: Helvetica, Arial, sans-serif;
$font-second: Times, serif;
$font-size: 13px;
$line-height: 1.3;
$line-height-em: 1.3em;
$letter-spacing-base: 0em;
$letter-spacing-title: 0.05em;

/* Margins
-------------------------- */

$mobile-padding: 15px;
$mobile-padding-neg: -15px;
$tablet-padding: 30px;
$tablet-padding-neg: -30px;
$desktop-padding: 45px;
$desktop-padding-neg: -45px;
$border-radius: 3px;

/* Basic colors
-------------------------- */

$color-main: #333333;
$color-hl: #336699;
$color-border: #e0e0e0;

/* Social */

$color-fb: #3B5998;
$color-gplus: #DD4B39;
$color-twitter: #00ACED;
$color-youtube: #CD201F;
$color-gplus: #DD4B39;
$color-linkedin: #0077B5;

/* Breakpoints
-------------------------- */

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-mid: 895px;
$tablet-max: 1023px;
$desktop-min: 1024px;
$desktop-mid: 1299px;
$desktop-midt: 1300px;
$desktop-max: 1499px;
$large-min: 1500px;

$mobile_only: "max-width:"+$mobile-max;
$mobile_excluded: "min-width:"+$tablet-min;
$desktop_excluded: "max-width:"+$tablet-max;
$desktop_only: "min-width:"+$desktop-min;
$desktopmid_excluded:"max-width:"+$desktop-mid;
$desktopmid_only:"min-width:"+$desktop-midt;
$large_excluded: "max-width:"+$desktop-max;
$large_only: "min-width:"+$large-min;

/* Compass values
-------------------------- */

$critical-usage-threshold: 2;
$graceful-usage-threshold: 2;

/* ----------------------------------------------------------
  CSSCommon
---------------------------------------------------------- */
