@charset "UTF-8";

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

//$vars

/* Fonts
-------------------------- */

$font-main: Helvetica, Arial, sans-serif;
$font-second: Times, serif;
$font-size: 13px;
$line-height: 1.3;
$line-height-em: 1.3em;
$letter-spacing-base: 0em;
$letter-spacing-title: 0.05em;
$fieldset-margin: 2em;

/* Margins
-------------------------- */

$mobile-padding: 15px;
$mobile-padding-neg: -15px;
$tablet-padding: 30px;
$tablet-padding-neg: -30px;
$desktop-padding: 45px;
$desktop-padding-neg: -45px;
$border-radius: 3px;

/* Basic colors
-------------------------- */

$color-main: #333333;
$color-hl: #336699;
$color-border: #e0e0e0;
$color-bg: #f0f0f0;

/* Social colors */
@import "csscommon/components/vars/colors";

/* Breakpoints
-------------------------- */

@import "csscommon/components/vars/breakpoints";
@import "csscommon/components/vars/mediaqueries";

/* Custom breakpoints */
$has_mobile_menu: $desktop_excluded;
$has_desktop_menu: $desktop_only;

/* Compass values
-------------------------- */

$critical-usage-threshold: 2;
$graceful-usage-threshold: 2;

/* ----------------------------------------------------------
  CSSCommon
---------------------------------------------------------- */
