@charset "UTF-8";

@use "sass:color";

html {
    background-color: $color-bg-page;
}

body {
    @extend %responsive-selector-type;
    font: $font-size $font-main;
    line-height: $line-height;
    letter-spacing: $letter-spacing-base;
    color: $color-main;
    accent-color: $color-hl;
}

@media ($mobile_only) {
    body {
        font-size: $font-size-mobile;
    }
}

/* ----------------------------------------------------------
  Links
---------------------------------------------------------- */

%main-link,
a {
    [data-inputmode="touch"] &:hover,
    [data-inputmode="touch"] &:focus,
    [data-inputmode="touch"] &:active,
    & {
        text-decoration-thickness: 0.1em;
        text-underline-offset: 0.3em;
        color: inherit;
    }

    &:hover,
    &:focus {
        color: $color-hl;
    }

    &:active {
        color: color.adjust($color-hl, $lightness: -20%);
    }
}

/* Fix default style css wp */

body a {
    text-decoration: none;
}

/* ----------------------------------------------------------
  Images
---------------------------------------------------------- */

picture {
    &,
    img {
        display: block;
        width: 100%;
    }
}

/* ----------------------------------------------------------
  Social
---------------------------------------------------------- */

.wputh-social-links {
    li {
        display: inline-block;
    }

    li + li {
        margin-left: 1em;
    }

    a {
        display: block;
        z-index: 0;
        position: relative;
        text-align: center;
    }

    a:before {
        @extend %absolute-cover;
        content: '';
        margin: -0.5em;
    }
}
