@charset "UTF-8";

html {
    background-color: #fff;
}

body {
    @extend %responsive-selector-type;
    font: $font-size $font-main;
    line-height: $line-height;
    letter-spacing: $letter-spacing-base;
    color: $color-main;
    accent-color: $color-hl;
}

@media ($mobile_only) {
    body {
        font-size: $font-size-mobile;
    }
}

/* ----------------------------------------------------------
  Links
---------------------------------------------------------- */

%main-link,
a {
    [data-inputmode="touch"] &:hover,
    [data-inputmode="touch"] &:focus,
    [data-inputmode="touch"] &:active,
    & {
        color: inherit;
    }

    &:hover,
    &:focus {
        color: $color-hl;
    }

    &:active {
        color: darken($color-hl,20);
    }
}

/* ----------------------------------------------------------
  Images
---------------------------------------------------------- */

picture {
    &,
    img {
        display: block;
        width: 100%;
    }
}
