@charset "UTF-8";

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

@use "csscommon/components/mixins/components/grid-dimensions" as *;
@forward "csscommon/components/mixins/components/grid-dimensions";

$column_width: 90;
$gutter_width: 20;

$content_width: get_grid_width(10);
$content_width_wide: get_grid_width(12);
$content_width_full: get_grid_width(14);

/* Fonts
-------------------------- */

$font-main: Helvetica,Arial,sans-serif;
$font-second: Times,serif;
$font-size: 13px;
$font-size-mobile: 13px;
$line-height: 1.3;
$line-height-em: 1.3em;
$letter-spacing-base: 0;
$letter-spacing-title: 0.05em;

/* Margins
-------------------------- */

/* Project margins */
$fieldset-margin: 2em;

/* Default margins */
@use "csscommon/components/vars/margins" as * with (
    $mobile-padding: 15px,
    $tablet-padding: 30px,
    $desktop-padding: 45px
);
@forward "csscommon/components/vars/margins";

/* Grid */
$mobile-grid-padding: 15px;
$tablet-grid-padding: 30px;
$desktop-grid-padding: 45px;

/* Sections */
$mobile-section-padding: 15px;
$tablet-section-padding: 30px;
$desktop-section-padding: 45px;


/* Basic colors
-------------------------- */

/* Social colors */
@use "csscommon/components/vars/colors" as *;
@forward "csscommon/components/vars/colors";

/* Default colors */
$color-bg-page: #FFF;
$color-main: #333;
$color-hl: #369;
$color-border: #e0e0e0;
$color-bg: #f0f0f0;
$color-red: #CC0000;
$color-green: #00CC00;

/* Breakpoints
-------------------------- */

@use "csscommon/components/vars/breakpoints" as * with (
    $screen-small-height: 751px
);
@forward "csscommon/components/vars/breakpoints";

@use "csscommon/components/vars/mediaqueries" as * with (
    $has_mobile_menu: "max-width:"+$tablet-max,
    $has_desktop_menu: "min-width:"+$desktop-min
);
@forward "csscommon/components/vars/mediaqueries";

/* Sizes
-------------------------- */

$header-main-height-desktop: 40px;
$header-main-height-desktop--withmargin: 80px;
$header-main-height-desktop-sticky: 40px;
$header-main-height-desktop-sticky--withmargin: 80px;
$header-main-height-mobile: 40px;
$header-main-height-mobile--withmargin: 100px;
$border-radius: 3px;

/* Positions
-------------------------- */

$zindex-header: 10;

/* Compass values
-------------------------- */

$critical-usage-threshold: 2;
$graceful-usage-threshold: 2;
