@charset "UTF-8";

/* ----------------------------------------------------------
  Vars
---------------------------------------------------------- */

@import "vars";
@import "csscommon/components/mixins/common";
@import "csscommon/components/grid";
@import "project_id/fonts";

/* ----------------------------------------------------------
  Preview fix
---------------------------------------------------------- */

#poststuff .layout > .acfe-fc-placeholder.acfe-fc-preview {
    & > a {
        z-index: 2;
    }

    & > .acfe-fc-overlay {
        z-index: 1;
    }

    & > .acfe-flexible-placeholder {
        z-index: 0;
        position: relative;
        pointer-events: none;
    }

    .centered-container a:not([class*="button"]),
    h1,
    h2,
    h3,
    h4 {
        color: inherit;
    }
}

/* ----------------------------------------------------------
  Files
---------------------------------------------------------- */

#poststuff .acfe-flexible-placeholder.-preview {

    /* Common */
    @import "csscommon/components/default";
    @import "csscommon/components/common";
    @import "csscommon/components/content/text";
    @import "csscommon/components/buttons/core";
    @import "csscommon/components/forms/core";
    @import "csscommon/components/forms/fake-check-ghost";
    @import "csscommon/components/layouts/containers";

    /* Vars */
    font-family: $font-main;
    font-size: $font-size;

    /* Project */
    @import "project_id/icons";
    @import "project_id/common/*";
    @import "project_id/blocks/*";
}

/* Fix icon
-------------------------- */

@font-face {
    font-family: "icons";
    src:  url("../fonts/icons/icons.woff2") format("woff2");
}
