@charset "UTF-8";

/* ----------------------------------------------------------
  Vars
---------------------------------------------------------- */

@import "vars";
@import "csscommon/components/mixins/common";
@import "laremanufacture/fonts";

/* ----------------------------------------------------------
  Files
---------------------------------------------------------- */

#poststuff .acfe-flexible-placeholder.-preview {

    /* Common */
    @import "csscommon/components/default";
    @import "csscommon/components/common";
    @import "csscommon/components/content/text";
    @import "csscommon/components/buttons/core";
    @import "csscommon/components/forms/core";
    @import "csscommon/components/forms/fake-check-ghost";

    /* Vars */
    font-family: $font-main;
    font-size: $font-size;

    /* Project */
    @import "project_id/icons";
    @import "project_id/common/*";
    @import "project_id/blocks/*";
}

/* Fix icon
-------------------------- */

@font-face {
    font-family: "icons";
    src:  url("../fonts/icons/icons.woff2") format("woff2");
}
