@charset "UTF-8";

/* ----------------------------------------------------------
  Content
---------------------------------------------------------- */

.cssc-content {
    font-size: $font-size;
    line-height: $line-height;
}

.cssc-content {
    h2,
    h3,
    h4 {
        font-family: $font-second;
    }
}
