@charset "UTF-8";

/* ----------------------------------------------------------
  Forms
---------------------------------------------------------- */

.cssc-form--project_id {
}

/* Form items */

%project--fieldgroup {
    & {
        margin-bottom: $fieldset-margin;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

%project--legend {
    margin-bottom: 1.1em;
    text-transform: uppercase;
    font-size: 1.1em;
}

%project--label {
    text-transform: uppercase;
}

%project--field,
%project--select {
    @extend .inputreset;
}

%project--field {
    padding: 0.5em 1em;
    min-height: 2.5em;
    border: 1px solid $color-border;
    line-height: 1.5em;
}

%project--select {
    @extend .cssc-select;
    padding-right: 2em!important;
    background: transparent no-repeat right 0 center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAFCAQAAADvCgS4AAAAGklEQVR4AWNg+I8BcQGCyhAAXRlhpcQAQsoAMGIY6KADYAUAAAAASUVORK5CYII=);
}

/* Placeholder */

@mixin project-placeholder() {
    color: $color-main;
    opacity: 0.5;
}

%project--field {
    &::-webkit-input-placeholder {
        @include project-placeholder;
    }

    &:-moz-placeholder {
        @include project-placeholder;
    }

    &::-moz-placeholder {
        @include project-placeholder;
    }

    &:-ms-input-placeholder {
        @include project-placeholder;
    }

    &::placeholder {
        @include project-placeholder;
    }
}

/* Radio - Checkboxes */

%fake-check-ghost,
%fake-radio-ghost {
    & + label {
        padding-left: 1.5em;
    }

    & + label:before {
        top: 0.45em;
        border: 1px solid $color-border!important;
        box-shadow: 0 0 0 1px transparent!important;
    }

    &:checked + label:before {
        border-color: $color-main!important;
        color: $color-border;
    }
}
