/* Selectors
-------------------------- */

.cssc-form label {
    @extend %project--label;
}

.cssc-form .box {
    & {
        @extend %project--fieldgroup;
    }

    select,
    textarea,
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        @extend %project--field;
    }
}

@media($mobile_only) {
    .cssc-form .twoboxes .box {
        display: block;
        float: none;
        width: auto;
        margin-bottom: $fieldset-margin;
        padding-right: 0!important;
        padding-left: 0!important;
    }

    .cssc-form .box.box--submit {
        text-align: center;
    }
}
