/* Selectors
-------------------------- */

select,
textarea,
.fake-upload-cover,
input[type="tel"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    @extend %project--selectors!optional;
}

.cssc-form label {
    @extend %project--label;
}

.cssc-form .box {
    & {
        @extend %project--fieldgroup;
    }

    %project--selectors {
        @extend %project--field;
    }

    %project--selectors:hover {
        border-color: #999;
    }

    %project--selectors:focus {
        border-color: #000;
    }

    select {
        @extend %project--select;
    }
}

@media($mobile_only) {
    .cssc-form .twoboxes .box {
        margin-bottom: $fieldset-margin;
    }

    .cssc-form .box.box--submit {
        text-align: center;
    }
}
