@charset "UTF-8";

/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

/* ----------------------------------------------------------
  Logo
---------------------------------------------------------- */

.main-title.main-logo {
    margin: 0;
    font-size: $header-main-height-desktop;
    line-height: 1;
}

/* ----------------------------------------------------------
  Sticky Header : fix selector below to enable
---------------------------------------------------------- */

body.can-use-sticky-header {
    @extend %has-sticky-header!optional;
}

@media ($has_desktop_menu) {
    %has-sticky-header .main-header__wrapper {
        height: $header-main-height-desktop;
    }

    %has-sticky-header .main-header {
        z-index: $zindex-header;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        height: $header-main-height-desktop;
    }

    %has-sticky-header[data-prepare-sticky-header="1"] .main-header {
        position: fixed;
        background-color: #fff;
        transform: translate3d(0,0 - $header-main-height-desktop,0);
    }

    %has-sticky-header[data-before-sticky-header="1"] .main-header {
        transition: transform 0.3s ease;
    }

    %has-sticky-header[data-has-sticky-header="1"][data-scrolldir="up"] .main-header {
        transform: translate3d(0,0,0);
    }
}

/* ----------------------------------------------------------
  Main menu
---------------------------------------------------------- */

.main-menu__wrapper {
    @extend %cssc-desktop-menu__wrapper;
    @extend %cssc-mobile-menu-down__wrapper;
}

.main-menu {
    @extend %cssc-desktop-menu;
    @extend %cssc-mobile-menu-down;
}

.main-menu > .menu-item {
    @extend %cssc-desktop-menu__first_level;
    @extend %cssc-mobile-menu-down__first_level;
}

.main-menu > .menu-item > .sub-menu {
    @extend %cssc-desktop-menu__submenu;
    @extend %cssc-mobile-menu-down__submenu;
}
