@charset "UTF-8";

/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

.cc-header-main {
    padding-top: 20px;
}

.header-main {
    z-index: 1;
    position: relative;
    height: $header-main-height-desktop;
    line-height: $header-main-height-desktop;
}

/* ----------------------------------------------------------
  Logo
---------------------------------------------------------- */

.main-title.main-logo {
    margin: 0;
    max-width: 135px;
    font-size: $header-main-height-desktop;
    line-height: 1;
}

/* ----------------------------------------------------------
  Sticky Header : change selector below to enable
---------------------------------------------------------- */

body.can-use-sticky-header {
    @extend %has-sticky-header!optional;
}

@media ($has_desktop_menu) {
    %has-sticky-header .cc-header-main__wrapper {
        height: $header-main-height-desktop--withmargin;
    }

    %has-sticky-header .cc-header-main {
        z-index: $zindex-header;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        height: $header-main-height-desktop--withmargin;
    }

    %has-sticky-header[data-prepare-sticky-header="1"] .cc-header-main {
        position: fixed;
        background-color: #fff;
        transform: translate3d(0,0 - $header-main-height-desktop--withmargin,0);
    }

    %has-sticky-header[data-before-sticky-header="1"] .cc-header-main {
        transition: transform 0.3s ease;
    }

    %has-sticky-header[data-has-sticky-header="1"][data-scrolldir="up"] .cc-header-main {
        transform: translate3d(0,0,0);
    }
}

@media ($has_mobile_menu) {
    %has-sticky-header .cc-header-main__wrapper {
        height: $header-main-height-mobile--withmargin;
    }

    %has-sticky-header .cc-header-main {
        z-index: $zindex-header;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-main-height-desktop--withmargin;
    }
}

/* ----------------------------------------------------------
  Main menu
---------------------------------------------------------- */

.main-menu__wrapper {
    @extend %cssc-desktop-menu__wrapper;
    @extend %cssc-mobile-menu-down__wrapper;
}

.main-menu {
    @extend %cssc-desktop-menu;
    @extend %cssc-mobile-menu-down;
}

.main-menu > .menu-item {
    @extend %cssc-desktop-menu__first_level;
    @extend %cssc-mobile-menu-down__first_level;
}

.main-menu > .menu-item > .sub-menu {
    @extend %cssc-desktop-menu__submenu;
    @extend %cssc-mobile-menu-down__submenu;
}
