@charset "UTF-8";

/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

/* Wrapper
-------------------------- */

.cc-header-main {
    & {
        padding-top: (($header-main-height-desktop--withmargin - $header-main-height-desktop) *0.5);
    }

    @include resp($has_mobile_menu) {
        padding-top: (($header-main-height-mobile--withmargin - $header-main-height-mobile) *0.5);
    }
}

@media ($has_mobile_menu) {
    .cc-header-main {
        transition: background 0.3s ease;
    }

    .has--opened-main-menu .cc-header-main {
        background-color: $color-bg-page;
    }
}

/* Content
-------------------------- */

.header-main {
    & {
        z-index: 1;
        position: relative;
        height: $header-main-height-desktop;
        line-height: $header-main-height-desktop;
    }

    @include resp($has_mobile_menu) {
        height: $header-main-height-mobile;
        line-height: $header-main-height-mobile;
    }
}

/* Anchors
-------------------------- */

.cc-block-anchor {
    & {
        z-index: 0;
        position: relative;
        transform: translateY(0 - $header-main-height-desktop--withmargin);
    }

    @include resp($has_mobile_menu) {
        transform: translateY(0 - $header-main-height-mobile--withmargin);
    }
}

/* ----------------------------------------------------------
  Sticky Header : change selector below to enable
---------------------------------------------------------- */

body {
    @extend %has-sticky-header !optional;
}

@media ($has_desktop_menu) {
    %has-sticky-header .cc-header-main__wrapper {
        height: $header-main-height-desktop--withmargin;
    }

    %has-sticky-header .cc-header-main {
        z-index: $zindex-header;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        height: $header-main-height-desktop--withmargin;
    }

    %has-sticky-header[data-prepare-sticky-header="1"] .cc-header-main {
        position: fixed;
        height: $header-main-height-desktop-sticky--withmargin;
        line-height: $header-main-height-desktop-sticky--withmargin;
        background-color: $color-bg-page;
        transform: translate3d(0,0 - $header-main-height-desktop-sticky--withmargin,0);
    }

    %has-sticky-header[data-prepare-sticky-header="1"] .header-main {
        height: $header-main-height-desktop-sticky;
        line-height: $header-main-height-desktop-sticky;
    }

    %has-sticky-header[data-before-sticky-header="1"] .cc-header-main {
        transition: transform 0.3s ease;
    }

    %has-sticky-header[data-has-sticky-header="1"][data-scrolldir="up"] .cc-header-main {
        transform: translate3d(0,0,0);
    }
}

@media ($has_mobile_menu) {
    %has-sticky-header .cc-header-main__wrapper {
        height: $header-main-height-mobile--withmargin;
    }

    %has-sticky-header .cc-header-main {
        z-index: $zindex-header;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-main-height-mobile--withmargin;
    }
}

/* ----------------------------------------------------------
  Logo
---------------------------------------------------------- */

.main-title.main-logo {
    & {
        z-index: 1;
        position: relative;
        height: 1em;
        margin: 0;
        max-width: 135px;
        font-size: $header-main-height-desktop;
        line-height: 1;
    }

    %has-sticky-header[data-prepare-sticky-header="1"] .header-main & {
        font-size: $header-main-height-desktop-sticky;
    }

    @include resp($has_mobile_menu) {
        font-size: $header-main-height-mobile !important;
    }

    a {
        display: block;
        height: 100%;
    }

    img {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 0;
        height: 100%;
        transform: translateY(-50%);
        object-fit: contain;
    }
}

/* ----------------------------------------------------------
  Toggle
---------------------------------------------------------- */

.header-main .nav-toggle {
    & {
        z-index: 1;
        position: absolute;
        top: 50%;
        right: 0;
        color: $color-main;
        transform: translateY(-50%);
    }

    &:before {
        @extend %absolute-cover;
        content: '';
        margin: -10px;
    }

    @include resp($has_desktop_menu) {
        display: none;
    }
}

/* ----------------------------------------------------------
  Main menu
---------------------------------------------------------- */

/* Wrapper
-------------------------- */

.header-main__menu {
    & {
        @extend %cssc-mobile-menu-down__wrapper;
    }

    @include resp($has_desktop_menu) {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
    }

    @include resp($has_mobile_menu) {
        top: $header-main-height-mobile--withmargin;
        background-color: $color-bg-page;
    }
}

.header-main__menu-inner {
    & {
        @extend %cssc-mobile-menu-down;
    }

    @include resp($has_mobile_menu) {
        margin: auto;
        padding: $desktop-padding;
        max-width: 400px;
        text-align: center;
    }
}

/* Menu
-------------------------- */

.main-menu__wrapper {
    @extend %cssc-desktop-menu__wrapper;
}

@media ($has_desktop_menu) {
    .header-main__menu-inner > * {
        display: inline-block;
        vertical-align: middle;
    }

    .header-main__menu-inner > * + * {
        margin-left: $desktop-padding;
    }
}

@media ($has_desktop_menu) and ($desktopmid_excluded) {
    .header-main__menu-inner > * + * {
        margin-left: $tablet-padding;
    }
}

.main-menu {
    @extend %cssc-desktop-menu;
}

.main-menu > .menu-item {
    & {
        @extend %cssc-desktop-menu__first_level;
        @extend %cssc-mobile-menu-down__first_level;
    }

    @include resp($has_desktop_menu) {
        margin-left: $desktop-padding;
        line-height: inherit;
    }
}

.main-menu > .menu-item > .sub-menu {
    @extend %cssc-desktop-menu__submenu;
    @extend %cssc-mobile-menu-down__submenu;
}
