
/* Cutoff
-------------------------- */

.centered-container--slider-cutoff {
    & {
        overflow: hidden;
    }

    .slick-list {
        overflow: visible;
    }

    .slick-slide {
        padding-right: 10px;
    }
}
